<!DOCTYPE html>

<html lang="en">
<head id="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <title> @ViewBag.Title </title>

    @*
        @Styles.Render("~/Content/css")
    *@

    @{
        var ADACss = (ViewBag.isADA ?? false) ? "Site_ADA.css" : "Site_nonADA.css";
        var ADACssUrl = Url.Content("~/Content/" + ADACss);
        var SiteCssUrl = Url.Content("~/Content/common.css");
    }
    <link href="@ADACssUrl" rel="stylesheet" type="text/css" />
    <link href="@SiteCssUrl" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto|Bungee+Shade" rel="stylesheet">

    @*
        @Scripts.Render("~/bundles/modernizr")
    *@
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")"></script>

</head>

<body class="twoColumnHdrFtr">
    <div id="container">
        <header id="header" class="fancy-text">
            <!--
            <h1><img alt="[Jive Talkin' Choirboy]" src="@Url.Content("~/Content/Images/jive-talkin-choirboy.png")" /></h1>
                -->
            <h1 class="title-text">CS-526 Image Sharing Website</h1>
        </header>
        <hr />

        <nav id="nav">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Register", "Register", "Account")</li>
                <li>@Html.ActionLink("Login", "Login", "Account")</li>
                <li>@Html.ActionLink("Upload", "Upload", "Images")</li>
                <li>@Html.ActionLink("List All", "ListAll", "Images")</li>
                <li>@Html.ActionLink("List By User", "ListByUser", "Images")</li>
                <li>@Html.ActionLink("List By Tag", "ListByTag", "Images")</li>
                <li>@Html.ActionLink("Query", "Query", "Images")</li>
            </ul>
        </nav>
        <hr class="fancy-rule" />

        <aside id="sidebar">
            <h1>Links</h1>
            <!--<p><a href="http://www.dominicduggan.org">My home page</a></p>-->
            <p><a href="http://www.stevens.edu">Stevens home page</a></p>
        </aside>
        <article id="content">
            @RenderBody()
        </article>
        <footer id="footer">
            <p>&copy; @DateTime.Now.Year Josh Gribbon</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
