@model ImageSharingWithModel.Models.ImageView

@{
    ViewBag.Title = "Edit Image";
}

<h2>@ViewBag.Title</h2>

@{ Html.BeginForm("Upload", "Images", FormMethod.Post,
                  new { enctype = "multipart/form-data" }); }

<fieldset>
    <legend>Edit Image Information</legend>
    <p><img src="@Url.Content("~/Content/Images/img-" + @Model.Id + ".jpg")"</p>

    <p>Image id: @Model.Id </p>

    <p>
        Image id: @Html.TextBox("Id")
                  @Html.ValidationMessage("Id")
    </p>
    <p>
        Caption: @Html.TextBox("Caption")
                 @Html.ValidationMessage("Caption")
    </p>
    <p>Select a tag: @Html.DropDownList("TagId", ViewBag.Tags as SelectList)</p>
    <p>
        Description: <br />
        @Html.TextArea("Description",
                        "Enter description here", 5, 40, null)
        @Html.ValidationMessage("Description")
    </p>
    <p>
        Date Taken: @Html.TextBox("DateTaken")
                    @Html.ValidationMessage("DateTaken")
    </p>
    <p>
        <input type="file" name="ImageFile" />
    </p>
    <p>
        <input type="submit" value="Upload" />
    </p>
</fieldset>

<p>@ViewBag.Message</p>
<p>@Html.ValidationSummary()</p>

@{ Html.EndForm(); }